body {
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s;
}

.container {
    text-align: center;
    margin-top: 50px;
}

#toggle-darkmode {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
